node_modules
.DS_Store

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcuserstate

*.xcbkptlist

apps/ios/mqttitude/mqttitude.xcodeproj/project.xcworkspace/xcuserdata/ckrey.xcuserdatad/UserInterfaceState.xcuserstate

apps/ios/mqttitude/mqttitude.xcodeproj/project.xcworkspace/xcuserdata/ckrey.xcuserdatad/UserInterfaceState.xcuserstate

apps/ios/mqttitude/mqttitude.xcodeproj/xcuserdata/ckrey.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
